<!DOCTYPE html>
<html manifest="/offline.manifest">
<head>
	<title>Dice Maker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>

<div id="app">
	<div class="nav">
		<button v-on:click="mode='setup'" v-bind:class="{'active': mode=='setup'}">Setup</button>
		<button v-on:click="mode='roll'" v-bind:class="{'active': mode=='roll'}">Roll</button>
	</div>

	<div id="setup" v-if="mode=='setup'">
		<div class="nav">
			<button v-on:click="viewMode='box'" v-bind:class="{'active': viewMode=='box'}">Box Mode</button>
			<button v-on:click="viewMode='table'" v-bind:class="{'active': viewMode=='table'}">Table Mode</button>
		</div>
		<div>
			<button v-on:click="roller.newDie();">Add Die</button>
			<button v-on:click="roller.addD6();">Add D6</button>
			<button v-on:click="roller.addD20();">Add D20</button>
		</div>
		<div v-if="viewMode=='box'">
			<die-box v-for="die in roller.dice"
				v-bind:roller="roller"
				v-bind:dice="roller.dice"
				v-bind:die="die"
				v-bind:index="roller.dice.indexOf(die)">
			</die-box>
		</div>
		<div v-if="viewMode=='table'">
			<die-table v-for="die in roller.dice"
				v-bind:roller="roller"
				v-bind:dice="roller.dice"
				v-bind:die="die"
				v-bind:index="roller.dice.indexOf(die)">
			</die-table>
		</div>
	</div>

	<div id="roll" v-if="mode=='roll'">
		<div>
			<button v-on:click="roller.rollDice()">Roll All Dice</button>
			<button v-on:click="roller.clearHistory()">Clear History</button>
		</div>
		<div class="rollContainer">
			<die-roll
				v-for="die in roller.dice"
				v-bind:die="die">
			</die-roll>
		</div>
		<div class="history">
			<div v-for="record in roller.history.slice().reverse()">
				<span class="count">{{record.count}}:</span> {{record.roll}} <span v-if="roller.dice.length > 1 && record.total>0">({{record.total}})</span>
			</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="assets/js/classes.js"></script>
<script src="assets/js/components.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
